.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!/src/main//build/
!/src/test//build/

*.class
*.log
*.cjs
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

dist/
dist-ssr/
*.local

.env
.env.local
.env.*.local
*.pem
*.key
*.cert
*.p12
*.pfx
secrets.yml
secrets.json

.idea/
*.iml
*.iws
*.ipr
out/
.idea_modules/

.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
.VolumeIcon.icns

Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
Desktop.ini
$RECYCLE.BIN/

~
.fuse_hidden
.directory
.trash